.wrapInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #ffff;
    padding: 20px;
    border: 4px solid #1a1616;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #1a1616;
}